* {
    margin: 0;
    padding: 0;
    /* box-sizing: content-box; */
}

.nav {
    background-color: aquamarine;
    display: inline-block;
    width: 100%;
    line-height: 80px;
    height: 100px;
    text-align: center;


}

a {
    margin: 50px;
}